# App
NODE_ENV=development
SERVER_PORT=5000
NEXT_PUBLIC_BASE_URL=http://localhost:3000
APP_BASE_URL=http://localhost:3000

# Auth
AUTH_SECRET=

# Database
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_EUR_PRICE=

# Email
RESEND_EMAIL_API_KEY=

# Analytics
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com

# Uploads
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
