 @import "tailwindcss";
 @plugin './hero.ts';
 @source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
 @custom-variant dark (&:is(.dark *));

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .glass-card {
    @apply border-default-200 border bg-white/50 shadow-md shadow-black/5 backdrop-blur-lg transition-colors dark:border-default-100 dark:bg-default-100/25;
  }

  .glass-card-interactive {
    @apply hover:bg-white/65 dark:hover:bg-default-100/35;
  }
}

@theme {
  --aspect-4-3: 4 / 3;
}
