name: Main CI

on:
  push:
    branches:
      - main
  workflow_call:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Clone Repository
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: docker image build -t invoicetrackr:${{ github.sha }} .

      - name: Save SSH key
        run: |
          mkdir -p ~/.ssh/
          touch ~/.ssh/key
          echo "${{ secrets.INVOICETRACKR_SECRET }}" > ~/.ssh/key
          chmod 400 ~/.ssh/key
          ssh-keyscan ${{ secrets.PROD_IP_ADDRESS }} >> ~/.ssh/known_hosts

      - name: Push Docker Image to Production
        run: docker image save invoicetrackr:${{ github.sha }} | ssh dokku@${{ secrets.PROD_IP_ADDRESS }} -i ~/.ssh/key git:load-image invoice-app invoicetrackr:${{ github.sha }}
