name: Pull Request CI

on:
  pull_request:

jobs:
  cache-and-install:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      # Steps for the Client Folder
      - name: Run TypeScript Compiler (client)
        run: |
          cd client
          pnpm tsc

      - name: Run ESLint (client)
        run: |
          cd client
          pnpm exec eslint .

      - name: Run Build (client)
        run: |
          cd client
          pnpm build

      #   - name: Run Tests (client)
      #     run: |
      #       cd client
      #       pnpm test

      # Steps for the Server Folder
      - name: Run TypeScript Compiler (server)
        run: |
          cd server
          pnpm tsc

      - name: Run ESLint (server)
        run: |
          cd server
          pnpm lint

      - name: Run Build (server)
        run: |
          cd server
          pnpm build

    #   - name: Run Tests (server)
    #     run: |
    #       cd server
    #       pnpm test
